.provisional {
    width: 100%;
}

.form {
    background: #efefef;
    padding: 100px 0;
}
.form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.form-inner iframe {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}